* {
    margin: 0;
    padding: 0;
}


/* @font-face {
    font-family: FiraSans;
    src: url(FiraSans.ttf);
}

@font-face {
    font-family: FiraSansLight;
    src: url(FiraSansL.ttf);
} */

.main {
    max-width: 460px;
    min-width: 420px;
    width: 100%;
    margin: auto;
}

.main__logo {
    contain: paint;
    width: 216px;
    height: 88px;
    margin: auto;
    /* background-image: url(logo.png); */
    background-position: center;
    background-repeat: no-repeat;
}

.main__menu {
    /* font-family: FiraSans; */
    font-size: 15px;
}

.main__menu,
.main__menu__item__submenu {
    list-style: none;
}

.main__menu__item {
    position: relative;
    color: #4f4f4f;
    background-color: #e7e7e7;
    border-radius: 25px;
    margin-bottom: 5px;
}

.main__menu__item__p {
    height: 18px;
    padding: 12px;
    padding-left: 20px;
    color: #4f4f4f;
    background-color: #e7e7e7;
    border-radius: 25px;
}

.main__menu__item__p::after {
    content: "▼";
    color: #ff8663;
    position: absolute;
    right: 20px;
}

.main__menu__item:hover .main__menu__item__p::after {
    position: absolute;
    right: 20px;
    /* content: "▲"; */
    color: #fff;
}


/* 
.active .main__menu__item__p::after {
    position: absolute;
    right: 20px;
    color: #fff;
    background-color: #ff8663;
    content: "▲";
} */

.active .main__menu__item__p::after,
.main__menu__item:hover .main__menu__item__p::after {
    content: "▲";
    color: #fff;
}

.active .main__menu__item__p {
    background-color: #ff8663;
}

.main__menu__item:nth-child(odd) .main__menu__item__p {
    color: white;
    background-color: #696666;
}

.main__menu__item:hover .main__menu__item__p {
    background-color: #ff8663;
    color: white;
}

.main__menu__item__submenu {
    margin-bottom: 5px;
    padding-bottom: 12px;
}

.main__menu__item__submenu__item {
    padding-top: 7px;
    padding-left: 21px;
    /* font-family: FiraSansLight; */
}

@media all and (max-width: 420px) {
    .main {
        width: 100%;
    }
    .toggle {
        display: block;
        width: 58px;
        height: 44px;
        /* background: url(shape.png) no-repeat; */
        background-position: center;
    }
    .main__menu {
        display: none;
    }
    .main__logo {
        display: none;
    }
    .main__menu__item,
    .main__menu__item__p {
        border-radius: 0;
        padding-left: 0;
    }
    .main__menu__item__p {
        padding-left: 5px;
        padding-right: 0;
    }
}